* {
  margin: auto;
}

.App {
  background-color: rgb(46, 46, 46);
  height: 100vh;
}

.header {
  background-color: rgb(0, 195, 230);
  padding: 20px;
}

.user-card {
  position: relative;
  margin: 100px auto 20px auto;
  background-color: white;
  width: 670px;
  padding: 30px;
}

.current-card {
  position: absolute;
  right: 10px;
  top: 0;
}

.name {
  text-decoration: underline;
  text-decoration-color: rgb(0, 195, 230);
}

.general-info {
  margin: 20px 0 20px 0;
}

.btn {
  cursor: pointer;
  display: flex;
	justify-content: space-between;
	align-items: flex-start;
  max-width: 700px;
}

.btn > button {
  color: white;
  background:none;
  border:none;
  margin:0;
  padding:0;
}